body{
    margin: 0;
    padding: 0;
}
.contenedor{
    display: grid;
}
.header{
    border: black solid 1px;
}
.cont{
    border: black solid 1px;
}
.ind{
    border: black solid 1px;
}
.foot{
    border: black solid 1px;
}