body{
    margin: 0;
    padding: 0;
}
.contenedor{
    display: grid;
    grid-template-areas: "head head""indice contenido""foot foot";
}
.header{
    border: black solid 1px;
    grid-area: head;
    margin: 10px;
}
.cont{
    border: black solid 1px;
    grid-area: contenido;
    margin: 10px;
    padding: 10px;
}
.ind{
    border: black solid 1px;
    grid-area: indice;
    margin: 10px;
}
.foot{
    border: black solid 1px;
    grid-area: foot;
    margin: 10px;
}